.user__avatar {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  background-image: url('../../../images/Cousteau.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

@media (max-width: 525px) {
  .user__avatar {
    margin-right: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}